# MySQL
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=kerry_mes
MYSQL_USER=kerry
MYSQL_PASSWORD=your_password

# InfluxDB
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=dummy-password
INFLUXDB_ORG=kerry_group
INFLUXDB_BUCKET=sensor_data
INFLUXDB_TOKEN=kerry-super-secret-token-2024
INFLUXDB_RETENTION=30d

# Kafka
KAFKA_BROKER=kafka:29092
KAFKA_TOPIC=sensor.raw
